<!-- <script src="scripts/tooltip.js"></script> -->
<!-- <script src="js/scripts.js"></script> -->

<div class="jumbotron indexJumb text-center">
  <!---- banner ---->
  <div class="" data-wow-delay="0.5s">
    <div class="container">
      <div class="banner-info text-center">
        <h1>Build the website of your dreams</h1><br />
        <span class="show" style="margin: 0 auto;"></span>
        <p>We are a digital agency that believes in building things that are  meaningful!</p>
        <div>
          <a href="#/signup" id="btnsignup" class="btn btn-primary" data-toggle="tooltip" data-placement="left" title="Regístrate!"><i class="fa fa-spinner fa-spin"></i> Regístrate!</a>
          <a href="#/login" id="btnlogin" class="btn btn-border" data-toggle="tooltip" data-placement="bottom" title="Inicia sesion"><i class="glyphicon glyphicon-user"></i> Inicia sesion</a>
        </div>
      </div>
    </div>
  </div>
</div>

